<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="masterPageExample.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        .navbar{
            display:flex;
            justify-content:space-between;
            background-color:lightblue;
            padding:20px;
        }
        .inner{
           text-decoration:none;
        }
        .image{
            height:50px;
            width:150px;
        }
        .center{
            text-align:center;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1 style="text-align:center;">Master Page</h1>
            <div runat="server" class="navbar">
                <asp:Image runat="server" ImageUrl="~/logo.png" CssClass="image" />
               <div>
                    <asp:HyperLink class="inner" runat="server" NavigateUrl="~/WebForm1.aspx">webform1</asp:HyperLink>  
                    <asp:HyperLink class="inner" runat="server" NavigateUrl="~/WebForm2.aspx">webform2</asp:HyperLink>
               </div>
            </div>
            <br /><br />
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>

            <p style="text-align:center;">All right reserved @2024</p>
        </div>
    </form>
</body>
</html>
