<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="LJProject.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2 style="text-align:center; padding:20px;" runat="server">L J Institute Of Computer Application</h2>
            <hr />
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <p runat="server" style="text-align:center; padding:20px">Master Of Computer Applications</p>
        </div>
    </form>
</body>
</html>
